h1{
  text-align: center;
  color: tomato;
  font-size: 60px;
}

main {
  font-size: 20px;
  text-align: center;
  border-style: dashed;
  border-spacing: 2px;
  display: block;
}
ul{
  color: #3399ff;
  padding: 50px;
  list-style-position: outside;
  font-size: 20px;
  list-style-type: square;

}
h3{
  font-weight: bold;
  font-size: 40px;
  padding: 50px 20px 0px;
  border-style: dashed;
  border-spacing: 2px;
  display: block;
  color: rgb(53, 24, 35);
}