body {
 background-color: rgb(230, 224, 224);
}
h1{
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #91091e;
  font-size: 60px;
}

main {
  font-size: 20px;
  padding: 20px;
  border-style:dashed;
  border-spacing: 2px;
  display: block;
}
ol{
  color: #da723c;
  padding: 50px;
  list-style-position: outside;
  font-size: 20px;
  list-style-type: upper-roman;


}
h3{
  font-weight: bold;
  font-size: 40px;
  padding: 50px 20px 0px;
  border-style: dashed;
  border-spacing: 2px;
  display: block;
  color: #6b5021;
}
.mainlist{
  color: #743a3a;
  font-weight: bolder;
  list-style-type: square;
  margin: 5px
}
.sublist{
  color: #ff5b5b;
  list-style-type: circle;
  padding: 20px;
  margin: 20px
}
img{
  margin-left: 420px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
  border-style:dashed;
  border-spacing: 2px;

}